.friend-list {
    padding: 0;
    list-style-type: none;
    width: 320px;
    margin: 20px auto;
}
.friend-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
}
.status, .avatar, .name {
    padding: 0 10px;
}
.status {
    background-color: red;
    width: 0;
    height: 20px;
    border-radius: 50%;
}
.status.online {
    background-color: green;
}